mixin result()
    +b('section').result
        +e.content
            +e.wrap
                +e.img
                    img(src='./images/result-img-1.png')
                +e.answer
                    +e.chapter Результат:
                    +e.text Вы правильно ответили на 3 из 6 вопросов
                    +e.title 123
                    +e.social-network
                        +e(href='#').network.vk
                            img(src='./images/vk.svg')
                        +e(href='#').network.ok
                            img(src='./images/ok.svg')
                        +e(href='#').network.te
                            img(src='./images/te.svg')
                    +e.button пройти ещё раз